body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 50px;
}

h1 {
  font-size: 5em;
  color: rgb(203, 203, 246);
}

img {
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0 7%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

div {
  text-align: center;
  background-color: rgb(243, 101, 122);
  max-width: 30%;
  font-size: 1.2em;
  padding: 1.5em;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 0.2em;
}
